/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */
.gfield_checkbox input[type='checkbox'] + label:before {
    border-radius: 0px!important;
}
#gform_9 #label_9_7_1{
	color: #fff!important;
}

/* Content width box 970 */
.none_h1{
    display: none!important;
}
.max-970 {
    max-width: 970px;
    margin: 0 auto;
}

.max-1200 {
    max-width: 1200px;
    margin: 0 auto;
}


a:focus,
button:focus {
    outline: none !important;
}

a.fl-button {
    border-radius: 0 !important;
    color: #fff !important;
    text-transform: uppercase;
}
.storename{
    list-style: none!important;
    padding-left: 0px!important;
}
.storename .address p{
    margin-bottom: 0px!important;
}
.top_phone .storename .phone a span:before{
	content:  '\f095';
	display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
	color: #fff;
	margin-right: 4px!important;
	transform: rotate(10deg);
}
.top_phone .storename li{
    padding-bottom: 0px!important;
}
.footer_social .social-icons{
    text-align: center!important;
}
.footer_social .social-icons a i{
    color: #000 !important;
}
.store-opening-hrs{
    list-style: none!important;
    padding-left: 0px!important;
}
.store-opening-hrs li{
    position: relative!important;
}
.store-opening-hrs li span{
    position: absolute!important;
    right: 0px!important;
}
.storename .direction span{
    color: #fff!important;
}

.footer_social .social-icons a i:hover{
    color: #bca648 !important;
}

a.fl-button,
.fl-builder-content a.fl-button ,  .button-wrapper a.button:hover {
    background-color: #bca648 !important;
    color: #ffffff !important;
    border: 1px solid #bca648 !important;
}
div.button-wrapper a.button.alt{background: #a8933f !important;}
 .button-wrapper a.button.alt:hover {
    background-color: #bca648 !important;
    color: #ffffff !important;
    border: 1px solid #bca648 !important;
}
.button-wrapper a.button{
    color:#fff;
}
.button-wrapper a:not(.button){
    text-align:center;
    text-decoration: underline;
}
.product-swatch img.img-responsive.toggle-image{
    visibility:visible;
}
.style-product_list .pro-container .pro-details .button-wrapper a.button{color:#fff;}
a.fl-button:hover,
.fl-builder-content a.fl-button:hover,.button-wrapper a.button {
    background: #a8933f !important;
    border: 1px solid #a8933f !important;
}

.fl-button-text {
    color: #fff !important;
}
.product-detail-layout-5 .button-wrapper{
    margin-top:10px;
}
.product-detail-layout-5 .button-wrapper .button{
    color:#fff;
    float:left;
}
.cta-bar-500 a.fl-button,
.cta-bar-500 a.fl-button:visited,
.cta-bar-500 .fl-builder-content a.fl-button,
.cta-bar-500 .fl-builder-content a.fl-button:visited {
    background-color: #fff !important;
    color: #908C7B !important;
    border: 1px solid #fff !important;
    margin-left: 20px;
}

.cta-bar-500 a.fl-button:hover,
.cta-bar-500 a.fl-button:hover {
    background: rgba(255, 255, 255, 0.90) !important;
    border: 1px solid rgba(255, 255, 255, 0.90) !important;
}

.cta-bar-500 .fl-button-text {
    color: #908C7B !important
}

.btn-grey a.fl-button,
.btn-grey a.fl-button:visited,
.btn-grey .fl-builder-content a.fl-button {
    background: #908C7B !important;
    color: #ffffff !important;
    border: 1px solid #908C7B !important;
}

.btn-grey a.fl-button:hover,
.btn-grey .fl-builder-content a.fl-button:hover {
    background: rgba(144, 140, 123, 0.90) !important;
    border: 1px solid rgba(144, 140, 123, 0.90) !important;
}

.btn-white a.fl-button,
.btn-white a.fl-button:visited,
.btn-white .fl-builder-content a.fl-button {
    background: #fff !important;
    color: #554E46 !important;
    border: 1px solid #554E46 !important;
}

.btn-white a.fl-button:hover,
.btn-white .fl-builder-content a.fl-button:hover {
    background: rgba(85, 78, 70, 0.10) !important;
    border: 1px solid rgba(85, 78, 70, 0.10) !important;
}

.btn-white .fl-button-text {
    color: #554E46 !important
}

/* .grey-back {
    background-color: #FBFBFB;
} */

.fl-menu .fl-menu-mobile-toggle.text {
    width: 100%;
    text-align: center;
    background-color: #dedede;
}

@media only screen and (max-width: 768px) {
    .logo .fl-photo-align-left {
        text-align: center !important;
    }
}


/* Carousel dots over top of slide */

@media only screen and (min-width: 768px) {
	.fl-slide-2 .fl-slide-foreground{	
	text-align: center!important;
}
.fl-slide-2 .fl-slide-foreground .fl-slide-photo-wrap{	
	    display: inline-block!important;
}
    .bx-wrapper .bx-pager {
        padding: 0;
    }
    .bx-wrapper .bx-controls-auto,
    .bx-wrapper .bx-pager {
        bottom: 20px !important;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: #dedede;
    }


}

.white-text {
    color: #ffffff !important;
}

.white-text h1,
.white-text h2,
.white-text h3 {
    color: #ffffff !important;
}


/* Home Main Carousel */

.home-main-carousel .fl-slide-text h3 {
    font-size: 3.4em;
    line-height: 1em;
}

.home-main-carousel .fl-slide-content {
    margin-top: 140px !important;
}

.home-main-carousel .fl-slide-0 .fl-slide-cta-button {
    padding-top: 0 !important;
}

.home-main-carousel .fl-button {
    margin-top: 20px;
}

.zone-3 h2,
.zone-3 h3,
.zone-3 p {
    margin: 0 !important;
    padding: 0 !important;
}

.zone-3 {}

.zone-3 h2 {
    font-size: 3.4em;
    line-height: 1em;
    font-weight: 300;
}

.zone-3 h3 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
}

.zone-3 p {
    font-size: 1.8em;
    line-height: 1.5em;
    padding-top: 10px !important;
}

.home-main-carousel.product-categories h1 {
    font-size: 2.8em
}

.home-main-carousel.main-home .fl-slide-content {
    margin-top: 70px !important;
}

.home-main-carousel.main-home .fl-slide-content h3 {
    margin-top: 120px !important;
}

@media(max-width:768px) {
    .home-main-carousel {
        margin-top: 60px;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide-cta-button {
        text-align: left;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text {
        text-align: left;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text h3 {
        line-height: 1em !important;
        font-size: 2.7em !important;
    }
    #menu-gallery-menu {
        text-align: center;
    }
    #menu-gallery-menu>li {
        display: inline-block
    }
/*     .home-main-carousel .fl-slide-mobile-photo {
        display: none !important;
    } */
    .home-main-carousel .fl-slide-content {
        background-color: transparent !important;
    }
/*     .home-main-carousel .fl-content-slider .fl-slide-bg-photo {
        position: absolute !important;
    } */
/*     .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-content {
        height: 350px;
    } */
/*     .home-main-carousel.fl-module-content-slider .fl-slide img {
        display: block;
        margin: auto;
    } */
	.active-gallery-modal .product-box > a{
	display: inline-block!important;
	margin: 10px!important;
}
    .home-main-carousel.fl-module-content-slider .bx-wrapper {}
    .home-main-carousel .fl-module-content>* {}
    .home-main-carousel .fl-content-slider-navigation {
        display: none;
    }
    .home-main-carousel .bx-wrapper .bx-pager a {
        padding: 5px;
        display: block;
    }
    .home-main-carousel .fl-button {
        font-size: 12px !important;
    }
    header .navbar .nav .menu-item-has-children>a:after,
    .fl-submenu-indicator .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile ul.navbar-nav li.menu-item-has-children>a:after{
            content: '\f107'!important;
                position: absolute;
        right: 20px;
    }

}


/* Top Bar 1 */

.top-bar-1 {
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
    padding: 10px 0 0 0;
}

.top-bar-1 p {
    display: none;
}

.top-bar-1 a {
    color: #B7B5AD;
}

.top-bar-1 a:hover,
.top-bar-1 a:active,
.top-bar-1 a:focus {
    text-decoration: none !important;
    color: #dedddd
}

.top-bar-1 ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.top-bar-1 ul li {
    display: inline-block;
    list-style: none;
    padding: 0 10px 10px 15px;
}

.top-bar-link {
    text-align: center !important;
}

.top-bar-link a {
    color: #FF0000 !important;
}

.white-link a {
    color: #fff !important;
}


/* Navagation 1 */

.nav-1 {
    margin: 0 auto;
}

.nav-1 .fl-page-nav .navbar-nav,
.fl-page-nav .navbar-nav a {
    font-weight: 700;
}

.nav-1 ul li {
    padding: 0 10px;
}

.nav-1 a {
    color: #808080;
}

.nav-1 a:hover,
.nav-1 a:active,
.nav-1 a:focus {
    text-decoration: none !important;
}

.nav-1 .fl-has-submenu-container {
    margin-bottom: 10px;
}

.fl-page-cart {
    position: relative;
    display: block;
    float: right;
    padding: 7px 25px;
    font-size: 1.5em;
}

.fl-page-nav-search a.fa-search {
    color: #808080 !important;
    right: auto;
}

.fl-page-nav-search-wrap {
    position: relative;
    display: inline-block;
    float: left;
}


/* .fl-page-nav-search form {
    background-color: #ffffff;
    border-top: 3px solid #808080;
    display: none;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 50px;
    width: 1000px;
    z-index: 1000;
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
} */


/* Nav 1 Mega Menu */

.fl-page-nav-right .fl-page-nav-wrap a,
.fl-page-nav-right .fl-page-nav-wrap a * {
    color: #767676 !important;
}

.fl-page-nav-wrap .navbar-nav>li>a {
    font-weight: 700;
    color: #767676 !important;
    font-size: 13px;
    text-transform: uppercase;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu {
    border: none;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu a {
    color: #767676 !important;
    position: relative;
}

.yawp_wim_title {
    display: none;
}

@media screen and (min-width: 992px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu {
        border: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 18.5%;
        float: left;
        border-color: white;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li a {
        padding: 5px;
        color: #767676 !important;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li.menu-item-type-yawp_wim {
        width: 26%;
        margin-bottom: -95px;
        clear: right;
    }
}

@media screen and (max-width: 991px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu li>ul.sub-menu {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        display: none;
    }
    .fl-page-nav-right .fl-page-nav-cart {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 50%;
        display: block;
        float: left;
        border-color: transparent;
    }
}

@media (min-width: 992px) {
    .fl-page-nav-right .fl-page-nav ul.navbar-nav {
        float: none !important;
        margin-left: 20px;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu {
        /* margin-left:-60%; */
        /* text-align:center;*/
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li {
        border-bottom: 1px solid #EEEEEE;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li:last-child {
        border: 0px;
    }
}

@media screen and (max-width: 768px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 100%;
        float: none;
        display: block;
        border-color: #e6e6e6;
    }
}

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: relative;
}

.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}

.fl-page-nav-search form {
    background-color: rgba(0, 0, 0, 0.9);
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: absolute;
    right: -40px;
    top: 78px;
    width: 1040px;
}

@media screen and (max-width: 1099px) {
    .fl-page-nav-search form {
        background-color: #767676;
        border-top: 0px solid #a1c5e5;
        display: none;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 100%;
    }
}


/* Headers*/

.header-boxed-1 {
    max-width: 970px;
    margin: 0 auto;
}

.header-boxed-1 .fl-slide-content-wrap {
    padding: 120px 120px 0 120px;
}


/* CTA bar */

.cta-bar {
    max-width: 970px;
    margin: 0 auto;
}

.cta-bar .fl-cta-text {
    padding-top: 10px;
    text-align: center;
}

.cta-bar .fl-button-text {
    font-weight: 700;
}


/* CTS 500 Bar */

.cta-bar-500 h3 {
    font-weight: normal;
    font-size: 1.5em;
}


/* Tabs 1 */

.tabs-1 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-1 .fl-tabs-label {
    border-color: transparent !important;
    width: 25%;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}


/* .fl-tabs-panel-content .row {margin-left:-30px; margin-right: -30px; margin-top: -30px;} */

.fl-tabs-labels .fl-tabs-label {
    outline: none !important;
}


/* Tabs */

.tabs-2 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-2 .fl-tabs-label {
    border-color: transparent !important;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #000000;
    font-weight: 700;
}

.tabs-2 .fl-tabs-labels {
    max-width: 82%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-3 .fl-tabs-label {
    max-width: 33%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #BCA648;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-4 .fl-tabs-label {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}

.tabs-4 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #BCA648;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-products h2 {
    font-size: 1.5em;
}


/* Category Boxes */

.cat-boxes a {
    font-weight: 400 !important;
}


/* Carousel 2 */

.carousel-2 .fl-content-slider-navigation path {
    fill: #767676;
}

.carousel-2 .bx-wrapper .bx-pager.bx-default-pager a.active,
.carousel-2 .bx-wrapper .bx-pager.bx-default-pager a:focus,
.carousel-2 .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #767676;
}


/* Icon Combos */

.icon-combo-1 {
    max-width: 970px;
    margin: 0 auto;
}

.icon-combo-1 .fl-icon a {
    color: #767676;
}

.icon-combo-1 .fl-icon-text a h4 {
    text-transform: uppercase !important;
    color: #767676;
    font-size: 1.1em;
    font-weight: 700;
}

.icon-combo-1 .fl-icon-text a:hover {
    text-decoration: none;
}

.icon-combo-2 .fl-icon a {
    color: #767676;
}

.icon-combo-2 .fl-icon-text a h4 {
    text-transform: uppercase !important;
    color: #767676;
    font-size: 1.1em;
    font-weight: 700;
}

.icon-combo-2 .fl-icon-text a:hover {
    text-decoration: none;
}

.icon-combo-2 h4 {
    text-transform: uppercase !important;
    color: #767676;
    font-size: 1.1em;
    font-weight: 700;
}


/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}


/* Footer 1 */

.footer-1-top {
    font-size: 0.9em;
}

.footer-1-top .fl-col-group {
    margin: 0 auto;
}

.footer-1-top ul.menu>li>a {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.footer-1-top ul.menu>li:nth-child(1)>a {
    color: #bca648;
}

.footer-1-top .sub-menu li:before {
    display: none;
}

.footer-1-top ul li.footer-title {
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.footer-1-top ul li.footer-title a {
    color: #bca648;
}

.footer-1-bottom .fl-col-group {
    margin: 0 auto;
}

.footer-1-bottom a,
.footer-1-bottom a:hover {
    color: #767676;
}

.footer-1-bottom {
    font-size: 0.8em;
}

.footer-1-bottom ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

.footer-1-bottom ul li {
    display: inline !important;
    padding: 0 5px;
}

.footer-1-bottom .fl-social-icons {
    text-align: center;
}

.footer-1-bottom .fl-social-icons a {
    padding: 0 10px 0 0;
}


/* Mega Menu ShortCode */

ul.navbar-nav li.mega-menu>ul.sub-menu>li>a {
    font-weight: 700 !important;
    color: #630A0A !important;
}

header .fl-row-content {
    position: relative;
}

@media(min-width:1024px) {
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::before {
        content: '';
        position: absolute;
        right: -5px;
        top: 50%;
        z-index: 1;
        display: block;
        width: 9px;
        height: 9px;
        margin: -5px 2px 0 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: translateX(-5px) rotate(45deg);
        -ms-transform: translateX(-5px) rotate(45deg);
        transform: translateX(-5px) rotate(45deg);
        border-color: #767676;
    }
}

.sc_mega_menu .navbar-nav>li>a {
    padding: 15px 13px;
}

.sc_mega_menu ul.sub-menu li li a {
    margin: 0px;
}

.sc_mega_menu .fl-page-nav-wrap {
    border: 0px;
}

.textwidget a.acc_banner_link {
    padding: 0 !important;
}

@media(max-width:1024px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 8px;
    }
}

@media(max-width:900px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 0px;
    }
}


/* Mega Menu Full width */

@media (min-width: 768px) {
    ul.navbar-nav li.mega-menu ul.sub-menu {
        border-top: 5px solid #BBA558;
    }
    /*This is just removing some default styles(not required)
    .fl-page-nav UL.sub-menu
    {
        padding: 10px 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }*/
    UL.navbar-nav LI.mega-menu>UL.sub-menu:after {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        top: -1px;
        height: 100%;
        width: auto;
        transform: translateX(-50%);
        z-index: -1;
        box-sizing: border-box;
        /*These styles are replacing the BB style that are being over written above (not required)*/
        border-top: 1px solid #DEDEDE;
        /*+box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);*/
        -moz-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        background-color: #fff;
    }
    .sc_mega_menu {
        margin-top: 10px;
    }
    .sc_mega_menu .mega-menu .sub-menu {
        left: 0px !important;
        position: relative;
    }
    .sc_mega_menu .navbar-nav>li.menu-item-has-children:hover::before {
        content: "▲";
        color: #BBA558;
        position: absolute;
        z-index: 1001;
        bottom: -5px;
        margin-left: 40%;
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.05);
        -webkit-transform: scale(1.5, 1);
        /* Safari and Chrome */
        -moz-transform: scale(1.5, 1);
        /* Firefox */
        -ms-transform: scale(1.5, 1);
        /* IE 9 */
        -o-transform: scale(1.5, 1);
        /* Opera */
        transform: scale(1.5, 1);
        /* W3C */
    }
    .sc_mega_menu .navbar-nav>li.mega-menu.menu-item-has-children:hover::before {
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .sc_mega_menu .navbar-nav>li.menu-item-23.menu-item-has-children:hover::before {
        margin-left: 80px;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(3) {
        border: 0px;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        margin-bottom: -55px;
        border: 0px;
        padding: 0 !important;
    }
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .header-boxed-1 .fl-slide-content-wrap {
        padding: 0px;
    }
}


/* Web Forms */

.web-form input {
    border-radius: 0 !important;
}

.web-form .gform_body label {
    font-weight: 300 !important;
}

.web-form .gform_footer {
    text-align: center !important;
}

.web-form .button {
    padding: 10px 30px;
    color: #fff !important;
    border: none !important;
}

.web-form .gform_wrapper div.validation_error {
    color: #790000 !important;
}

.web-form .textarea {
    border-radius: 0 !important;
    max-height: 120px;
}

.web-form select {
    padding: 5px !important;
}

.web-form .ginput_container_time select {
    padding: 0 !important;
}

body .gform_wrapper .gform_body .gform_fields .gfield select {
    border: 1px solid #e6e6e6;
    background-color: #FCFCFC !important;
}

.ui-datepicker-title {
    color: #333;
}

.web-form button:hover,
.web-form input[type=button]:hover,
.web-form input[type=submit]:hover {
    background: #a8933f !important;
    border: none;
}


/* 500 Coupon Page */

.coupon h2 {
    font-size: 3.4em;
    line-height: 1em;
    font-weight: 300;
}

.coupon h1 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.coupon h3 {}

.coupon h4 {
    font-size: 1.2em;
    font-weight: normal;
}


/* Default Form Page */

.default-form h2 {
    font-size: 2.8em;
    line-height: 1em;
    font-weight: 300;
}

.default-form h1 {
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.default-form h3 {}

.default-form h4 {
    font-size: 1.2em;
    font-weight: normal;
}

@media (max-width: 768px) {
    .default-form h1 {
        font-size: 2.5em;
    }
}


/*Tabs Grey */


/* .tabs-grey .fl-tabs-panels {background-color: #FBFBFB !important;} */


/* Window Coverings */

.window-categories {
    font-size: 90%;
}

.window-categories h4 {
    font-size: 1.2em !important;
}

.window-categories a {
    font-weight: 700;
    font-size: 90%;
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* IMage Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}


/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}


/* Product Grid */

.swatch-thumb {
    max-height: 238px;
    overflow: hidden;
}

.swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid.swatch {
    text-align: center;
}

.product-grid.rooms {
    text-align: left;
}

.product-grid.featured {
    text-align: center;
}

.product-grid.swatch h2 {
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.swatch h4 {
    font-size: 10px;
    margin: 5px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid.rooms h2 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.rooms h4 {
    font-size: 10px;
    margin: 5px 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.strike-price {
    color: #929292;
    text-decoration: line-through !important;
    margin-right: 10px;
}

.sale-price {
    font-weight: 700;
    color: #212121;
}

.product-grid .fl-button {
    margin-bottom: 10px;
}

.product-grid .fl-button-text {
    font-size: 12px;
}

.product-grid a {
    text-decoration: none;
    font-size: 13px;
}

.product-grid a.link {
    color: #929292;
}

.product-grid a.link:hover {
    text-decoration: underline;
    color: #929292;
}

@media (max-width: 767px) {
    .product-grid.swatch .row>:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* .product-grid.swatch .row>:nth-child(3n+1) {
        clear: left;
    } */
}

@media (min-width: 992px) {
    /* .product-grid.swatch .row>:nth-child(4n+1) {
        clear: left;
    } */
}

@media (min-width: 992px) {
    /* .product-grid.rooms .row>:nth-child(3n+1) {
        clear: left !important;
    } */
}

@media (min-width: 768px) and (max-width: 991px) {
    /* .product-grid.rooms .row>:nth-child(2n+1) {
        clear: left;
    } */
}

.product-grid .swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid .fl-post-grid-post {
    margin-bottom: 40px;
}

.fl-post-grid-image {
    width: 100%;
    min-height: 135px;
}

.fl-module .fl-post-grid-image img {
    max-width: 100%;
    max-height: 165px !important;
}

.facetwp-facet select {
    width: 100%;
    padding: 10px;
}

.facetwp-selections ul li {
    font-size: 16px;
}

.facetwp-per-page {
    text-align: right !important;
}

.facetwp-per-page select {
    padding: 5px;
}

.facetwp-counts {}

.facetwp-pager {
    float: right;
}

.bottom-pager .facetwp-pager {
    float: none;
    text-align: center;
}

.facetwp-pager span.pager-text {
    font-size: 14px !important;
    padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
    font-size: 28px;
}

.facetwp-pager a {
    color: #929292;
    vertical-align: middle;
}

.facetwp-pager a:hover {
    text-decoration: none;
}

.facetwp-page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 6px;
    cursor: pointer;
}

.facet_filters .facetwp-facet {
    margin-bottom: 25px;
}

.facet_filters strong {
    font-size: 16px;
    color: #630A0A;
    display: block;
    margin: 0 0 10px;
}

.facet-inner {
    max-height: 350px;
    overflow: auto;
}

.product-count {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.product-box {
    text-align: left;
    padding: 2rem 2rem 3.5rem 2rem;
}

.product-box a.fl-button , .button-wrapper a.button.alt, div.button-wrapper a.button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: block;
    text-align: center;
}
.gform_wrapper .gfield_checkbox input[type=checkbox]{
    margin-top:0 !important;
}
.product-box a.fl-button:hover {
    text-decoration: none;
}

.product-box a.fl-button.btn-white {
    background-color: transparent !important;
    border-color: #554E46 !important;
}
.featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button.alt {
    background: #212121 !important;
    color: #fff !important;
}
.featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button.alt:hover {
    color: #212121 !important;
    background: #fff !important;
}
.no-btn-skin a.fl-button, .no-btn-skin .fl-button-wrap a.fl-button{
    background-color: #bca648 !important;
}
.fl-social-icons i.fab:hover{
    color: #bca648 !important;
}
.product-colors ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.product-colors ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}

.product-atts ul {
    margin: 40px 0 0 0;
    padding: 0;
    color: #008c8c;
}

.product-atts ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-box h1 {
    margin: 0 0 0 0;
    padding: 0;
    text-transform: none;
    font-weight: 700;
}

.product-box h2 {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 1.8rem;
}

.product-atts a.fl-button {
    padding: 10px 40px;
}

.product-swatch {
    text-align: center;
}

.product-swatch img.img-responsive {
    margin: 0 auto;
    min-height: 400px;
}

.product-variations {
    margin: 80px 0 50px 0;
}

.product-variations img {
    width: 100%;
    height: auto;
    max-height: 100px;
}

.product-attributes {
    text-transform: capitalize;
    margin-bottom: 80px;
    margin-top: 60px;
}

img.product-logo {
    max-width: 140px;
    height: auto;
    margin-bottom: 15px;
}

.color-box {
    margin-bottom: 0px;
    line-height: normal;
    /* min-height: 180px; */
}

.color-box small {
    font-size: 80%;
    white-space: nowrap
}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}

.faceted_results {
    margin-top: 20px;
}


/* Image Gallery Modal */


/* .active-gallery-modal {
    position: fixed;
    z-index: 1;
    top: 35% !important;
    background-color: white;
    width: 100%;
}

.active-gallery-modal .fl-row-content-wrap {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

.active-gallery-modal .content {
    display: table;
    width: 100%;
    position: relative;
}

.active-gallery-modal .content>* {
    display: table-cell;
    
}

.active-gallery-modal .product-box {
    padding: 100px 50px;
    position: static;
}

.active-gallery-modal .collection {
    text-transform: uppercase;
    font-size: 14px;
}

.active-gallery-modal .fl-post-title {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}

.active-gallery-modal .contact_us {
    background-color: transparent !important;
}

.active-gallery-modal .contact_us span {
    color: #bca648 !important;
}

.active-gallery-modal .contact_us:hover span {
    color: white !important;
}

.active-gallery-modal .col_swatch {
    background-size: cover;
}

.active-gallery-modal .close_modal {
    position: absolute;
    color: #554e46;
    font-size: 30px;
    top: 0px;
    right: 100px;
} */

.gallery-modal {
    display: none;
}

.open-gallery-modal {
    cursor: pointer;
}

.fl-post-grid-text.product-grid.btn-grey h4 {
    font-size: 10px;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.fl-post-grid-text.product-grid.btn-grey h2 {
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}


/* Mobile Menus */

header .close_menu,
header .show_menu,
header .search_mobile,
header .close_search {
    display: none;
}

header .search_wrapper {
    display: none;
}

@media(max-width:768px) {
    .active-gallery-modal .content {
        display: block;
    }
    .active-gallery-modal .content>* {
        display: block;
    }
    .active-gallery-modal .col_swatch {
        /* width:100%; */
        max-height: 350px;
        height: 340px;
    }
    .active-gallery-modal .close_modal {
        color: white;
        right: 10px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    }
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        display: inline;
    }
    .fl-builder-content-84 {
        position: fixed;
        top: 0px;
        z-index: 30;
        height: 45px;
        overflow: hidden;
        width: 100%;
    }
    .fl-builder-content-84 .top-bar-1 {
        padding-top: 0px;
    }
    #djcustom-header {
        top: 45px !important;
    }
    #djcustom-header {
        position: fixed !important;
        background-color: white;
    }
    #djcustom-header .fl-photo {
        max-width: 180px;
        margin: auto;
    }
    #djcustom-header .fl-module-content {
        margin: 10px 0px 0px 0px;
    }
    .sc_mega_menu {
        display: none;
    }
    .sc_mega_menu::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
    }
    .sc_mega_menu a {
        font-weight: bold;
    }
    .sc_mega_menu .fl-page-nav-wrap {
        position: fixed;
        height: 100%;
        overflow: auto;
        width: 80%;
        background-color: white;
        z-index: 100;
    }
    .sc_mega_menu button {
        display: none;
    }
    .sc_mega_menu .fl-page-nav-collapse {
        display: block;
        visibility: visible;
    }
    .sc_mega_menu ul.sub-menu {
        position: static;
        display: none !important;
    }
    .sc_mega_menu .yawp_wim_wrap a:before {
        display: none;
    }
    .sc_mega_menu .menu-item-type-yawp_wim {
        display: none !important;
    }
    .sc_mega_menu .secondary_menu {
        display: none;
    }
    .sc_mega_menu.active .secondary_menu {
        display: block;
    }
    /*  .sc_mega_menu.active >.fl-page-nav-wrap>li {
        display:none;
    }*/
    .sc_mega_menu.active .fl-page-nav {
        display: none;
    }
    .sc_mega_menu.active .secondary_menu ul.sub-menu {
        display: block !important;
    }
    .sc_mega_menu .secondary_menu .main_link>a {
        font-weight: bold;
        background-color: #F9F9F9;
    }
    .sc_mega_menu .secondary_menu .main_link>a:before {
        content: "\f104";
        font-family: "FontAwesome";
        font-size: 16px;
        margin-right: 30px;
        margin-left: 20px;
    }
    .sc_mega_menu .secondary_menu li {
        padding: 0px;
    }
    .sc_mega_menu .has_subitems>a:after {
        content: "\f105";
        font-family: "FontAwesome";
        float: right;
        font-size: 16px;
        margin-right: 20px;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children>a {
        font-weight: bold;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children a:before {
        display: none;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children .sub-menu a {
        text-transform: none;
        font-size: 12px;
    }
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        font-size: 30px;
        float: left;
        margin-left: 20px;
        line-height: 30px;
        margin-top: 10px;
        margin-bottom: -10px;
    }
    header .search_mobile,
    header .close_search {
        float: right;
        margin-right: 20px;
    }
    header .search_wrapper {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px 20px;
        position: relative;
        overflow: hidden;
    }
    header .search_wrapper a {
        position: absolute;
        right: 30px;
        top: 25px;
        color: #554e46;
        font-size: 20px;
    }
    header .close_search {
        display: none;
    }
    footer {
        background-color: rgba(48, 44, 39, 1);
    }
    footer .fl-row-content-wrap {
        padding: 0px !important;
    }
    footer .fl-col {
        margin: 0px !important;
        max-width: none !important;
        width: 100%;
    }
    footer .fl-module-content {
        margin: 0px !important;
    }
    footer li {
        margin: 0px !important;
    }
    footer a {
        margin-bottom: 0px !important;
    }
    footer .menu>li>a {
        border-bottom: 1px solid #919191;
        padding: 20px 30px;
        display: block;
    }
    footer .menu>li.menu-item-has-children>a:after {
        /*content: "\f107";
        font-family: "FontAwesome";
        float: right;
        font-size: 16px;*/
    }
    footer .fl-widget,
    footer .menu {
        margin: 0px !important;
    }
    footer .sub-menu {
        padding: 30px;
        border-bottom: 1px solid #919191;
        /*display: none;*/
    }
    footer .sub-menu li:before {
        display: none;
    }
    footer .sub-menu a {
        color: white !important;
        font-weight: normal;
    }
    footer ul li:nth-child(1) a {
        color: white !important;
    }
    footer .fl-module-icon .fl-icon-wrap {
        margin: 0 auto;
        padding: 5px 30px;
    }
    footer .fl-module-icon .fl-icon-wrap br {
        display: none;
    }
    .menu-footer-menu-container {
        overflow: hidden;
        padding: 10px 30px;
    }
    .menu-footer-menu-container ul {
        text-align: center;
    }
    .menu-footer-menu-container li {
        display: inline;
        float: none !important;
    }
    .menu-footer-menu-container a {
        border: 0px;
        display: inline !important;
        padding: 0px !important;
    }
    footer .menu-footer-menu-container ul li:nth-child(1) a {
        color: #767676 !important;
    }
    footer .fl-node-58b5816f53831.fl-col-small {
        color: white;
        text-align: center;
    }
	
	.home-main-carousel .fl-slide-content {
		margin-top: 10px !important;
	}
	
	
}

/* .toggle-image-thumbnails {
    position: absolute;
    bottom: 20px;
    left: 40px;
} */

.toggle-image-thumbnails a {
    border: 3px solid white;
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    transition: All 0.5s ease;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
}

.toggle-image-thumbnails a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.product-swatch .img-responsive img {
    visibility: hidden;
}

.fr-slider {
    position: relative;
}

.fr-slider .arrow {
    position: absolute;
    font-size: 30px;
    color: #212121;
    z-index: 2;
    height: 130px;
    line-height: 130px;
    text-align: center;
    width: 30px;
    float: left;
}

.fr-slider .arrow.prev {
    left: 10px;
}

.fr-slider .arrow.next {
    right: 10px;
}

.fr-slider .slides {
    margin: 0px 40px;
}

.fr-slider .slide {
    padding: 0px 7px;
}

/* .home-main-carousel.fl-module-content-slider .fl-slide img {
    min-height: 300px;
}

.home-main-carousel.fl-module-content-slider .fl-slide img {
    max-height: 260px;
} */

div#sifContainer {
    display: flex;
    padding: 15px;
}

.fl-menu a {
    color: #828282 !important;
}

.fl-menu .current_page_item a {
    color: #292929 !important;
}

.gform_wrapper .timeEstimate .gfield_time_hour i {
    width: 5px;
    font-weight: bolder;
    margin-top: -28px;
}

.darkBackground .fl-slide-bg-photo:after {
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

@media(max-width:768px) {
	footer .footer_social .social-icons a i{
	color: #fff!important;
}
    div#sifContainer {
        margin: 0 auto 15px;
    }
    .fr-slider .arrow {
        height: 80px;
        line-height: 80px;
    }
    footer .icon-combo-2 .fl-module-icon .fl-icon-wrap .fl-icon {
        display: inline-block;
    }
    .fl-module-content-slider .bx-wrapper,
    .home-main-carousel {
        margin: 0;
    }
    /* mobile */
    .searchBarTop,
    .fl-page-nav-right .fl-page-nav-search {
        position: static;
    }
    .searchBarTop {
        margin: 0;
        padding: 0;
    }
    .fl-page-header-logo-col>.fl-page-nav-wrap,
    .fl-page-header-logo-col>.searchBarTop {
        flex: 1;
    }
    .fl-page-header-logo-col>.fl-page-header-logo {
        flex: 2;
    }
    .fl-page-nav-right .fl-page-header-container {
        padding: 10px 20px;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle * {
        color: #000000 !important;
    }
    .fl-builder-content-84 {
        position: static;
        height: auto;
    }
    .fl-page-nav-right .fl-page-nav-search a.fa-search {
        padding-top: 10px;
    }
    .fl-page-header-container.container {
        padding-top: 10px !important;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo {
        padding-bottom: 0;
        text-align: center;
        margin: 0;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle {
        top: 0;
        position: static;
        right: auto;
        left: 10px;
    }
    .navbar-toggle {
        display: block;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-header-logo {
        margin: 0;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo-col {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fl-page-nav-right .fl-page-nav-search {
        display: block;
    }
    .fl-page-nav-search form {
        width: calc(100vw);
        position: absolute;
        margin-left: -50vw;
        top: 100%;
        left: 50%;
    }
    .fl-node-5be442c535e25 .fl-col {
        margin: 0 10px;
    }
    .fl-builder-content .fl-node-58b58157a16b3 p {
        text-align: center !important;
    }
    .fl-node-58fab3e96409b {
        display: flex;
        flex-wrap: wrap;
    }
    .fl-node-58fab3e96409b>.fl-col {
        width: 30% !important;
    }
    #menu-top-bar-menu {
        display: flex;
    }
    #menu-top-bar-menu>li {
        padding: 0 5px;
    }
    .fl-node-58fe80019ef69>.fl-module-content {
        margin: 10px;
    }
    .footer-1-bottom .fl-social-icons a i,
    footer .menu-footer-menu-container ul li:nth-child(1) a,
    .menu-footer-menu-container a {
        color: #ffffff !important;
    }
    .fl-tabs-horizontal .fl-tabs-label {
        padding: 12px 10px;
    }
    .breadcrumbs {
        padding: 15px;
    }
    .fl-builder-content .fl-row .fl-col .fl-node-5bfda2af29904 .fl-cta-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fl-node-5bfda2af29904 .fl-cta-inline .fl-cta-button {
        padding: 0;
    }
    .fl-node-58e5574f0df7b .fl-col {
        margin: 20px auto;
    }
    .fl-tabs-horizontal .fl-tabs-label {
        width: auto;
        max-width: 100%;
    }
    .fl-tabs-horizontal .fl-tabs-label.fl-tab-active {
        margin-bottom: 10px;
        border-bottom: 5px solid #bca648 !important;
    }
    .plpAlignTitle {
        position: absolute;
        top: 28px;
        right: 0;
    }
    .fl-col-small {
        max-width: 700px;
    }
    .rowReverse {
        display: flex;
        flex-direction: column-reverse;
    }
    /* listing page banner */
    body:not(.home) .home-main-carousel .fl-module-content>* {
        height: 180px;
        overflow: hidden;
    }
    body:not(.home) .home-main-carousel .fl-content-slider .fl-slide-bg-photo {
        position: absolute !important;
        height: 220px;
    }
    .form-box .web-form .timeEstimate .ginput_container_time select {
        width: 100px !important;
        max-width: 60px !important;
    }
    .cat-boxes img.size-full {
        width: 100%;
    }
    .fl-node-5bfda2456f91a .home-main-carousel.fl-module-content-slider .fl-slide img {
        max-height: 120px;
        min-height: 1px;
    }
    .reviews .fl-col-group>.fl-col:last-child {
        position: absolute;
        top: 15px;
        right: 0;
    }
    .product .grey-back .container {
        padding: 0;
    }
    .toggle-image-thumbnails a {
        margin: 5px;
    }
    .cat-boxes .fl-photo-content {
        display: block;
    }
}

@media(max-width:567px) {
    .fl-post-grid-image {
        min-height: 85px;
    }
    .plpAlignTitle {
        position: static;
    }
    .fl-builder-content .fl-row .fl-col .fl-node-5bfda2af29904 .fl-cta-wrap {
        flex-direction: column;
    }
    /* detail page */
    .product-box {
        text-align: center;
    }
    .product-box a.fl-button {
        width: 100% !important;
    }
    .color-box {
        min-height: auto;
    }
    .product-variations {
        margin: 0;
    }
    .product-attributes {
        margin-top: 0;
    }
    .toggle-image-thumbnails a {
        margin: 5px;
    }
    .toggle-image-thumbnails {
        left: 20px;
        right: 20px;
    }
    body:not(.home) .home-main-carousel .fl-content-slider .fl-slide-bg-photo {
        position: absolute !important;
        height: 240px;
    }
    body:not(.home) .home-main-carousel .fl-module-content>* {
        height: 230px;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text h3 {
        font-size: 2.1em !important;
    }
	.product-detail-layout-5 .button-wrapper .button {
    width: 180px!important;
}
	.fl-row:not(.main-home) .fl-content-slider .fl-slide-content{
      min-height: 350px!important;
    position: absolute!important;
    top: 0!important;
}	

.fl-row:not(.main-home) .fl-content-slider .fl-slide-content h1{
    font-size: 20px !important;
    line-height: 22px !important;
}
	.main-home .fl-content-slider .fl-slide-content {
	    min-height: 0!important;
	    position: relative!important;
}
}

.review-iframe iframe {
    height: 650px !important;
}

.fa.fa-map-marker:before {
    content: "\f041" !important;
}




@media (max-width: 768px){

	
	body:not(.home) .home-main-carousel .fl-module-content>* {
		height: 300px;
		overflow: hidden;
	}
	
	body:not(.home) .home-main-carousel .fl-content-slider .fl-slide-bg-photo {
		height: 300px;
	}

	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
		margin: 0 !important;
		padding: 30px;
		margin-top: -300px !important;
	} 
	
	/*.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content h1 {
		*/
		
		
	.page-id-17 .fl-page-content .fl-content-full .fl-post .fl-slide-content-wrap .zone-3 h1 {
		font-size: 26px !important;
		line-height: 34px !important;
	}
	
	.page-id-18 .fl-page-content .fl-content-full .fl-post .fl-slide-content-wrap .zone-3 h1 {
		font-size: 26px !important;
		line-height: 34px !important;
	}
	.page-id-19 .fl-page-content .fl-content-full .fl-post .fl-slide-content-wrap .zone-3 h1 {
		font-size: 26px !important;
		line-height: 34px !important;
	}
	.page-id-20 .fl-page-content .fl-content-full .fl-post .fl-slide-content-wrap .zone-3 h1 {
		font-size: 26px !important;
		line-height: 34px !important;
	}
	
	.page-id-22 .fl-page-content .fl-content-full .fl-post .fl-slide-content-wrap .zone-3 h1 {
		font-size: 26px !important;
		line-height: 34px !important;
	}
	
	.page-id-138551 .fl-page-content .fl-content-full .fl-post .fl-slide-content-wrap .zone-3 h1 {
		font-size: 26px !important;
		line-height: 34px !important;
	}
	
	
	

		
		


}


@media (max-width: 600px){	
	body:not(.home) .home-main-carousel .fl-module-content>* {
		height: 220px;
		overflow: hidden;
	}
	
	body:not(.home) .home-main-carousel .fl-content-slider .fl-slide-bg-photo {
		height: 220px;
	}
	
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
		margin: 0 !important;
		padding: 15px;
		margin-top: 0px !important;
	} 
	
	.page-id-17 .fl-page-content .fl-content-full .fl-post .fl-slide-content-wrap .zone-3 h1 {
		font-size: 19px !important;	line-height:21px !important;}
	.page-id-18 .fl-page-content .fl-content-full .fl-post .fl-slide-content-wrap .zone-3 h1 {
		font-size: 19px !important;	line-height:21px !important;}
		
	.page-id-90 .fl-page-content .fl-content-full .fl-post .fl-slide-content-wrap .zone-3 h1 {
		font-size: 19px !important;	line-height:21px !important;}
	.page-id-20 .fl-page-content .fl-content-full .fl-post .fl-slide-content-wrap .zone-3 h1 {
		font-size: 19px !important;	line-height:21px !important;}
	.page-id-22 .fl-page-content .fl-content-full .fl-post .fl-slide-content-wrap .zone-3 h1 {
		font-size: 19px !important;	line-height:21px !important;}
	.page-id-138551 .fl-page-content .fl-content-full .fl-post .fl-slide-content-wrap .zone-3 h1 {
		font-size: 19px !important;	line-height:21px !important;}
}